@page
@model Demo.Presentation.Pages.Customer.EditModel
@{
    ViewData["Title"] = "Edit Customer";
}

<div class="container mt-5">
    <div asp-validation-summary="ModelOnly"
         style="text-decoration: none;"
         class="alert alert-danger pb-0" role="alert">
    </div>
    <h2>Edit Customer</h2>
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Customer.Name">Name</label>
            <input type="text" class="form-control" asp-for="Customer.Name" required>
            <span asp-validation-for="Customer.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Customer.BirthDate">Birth Date</label>
            <input type="text" class="form-control" asp-for="Customer.BirthDate" required>
            <span asp-validation-for="Customer.BirthDate" class="text-danger"></span>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="Customer.IsActive">
            <label class="form-check-label" asp-for="Customer.IsActive">
                Is Active
            </label>
        </div>
        <input hidden class="form-check-input" type="text" asp-for="Customer.Id" readonly>
        <button type="submit" class="btn btn-primary mt-3">Edit Customer</button>
    </form>
</div>